<footer class="footer-box">
  <img 
    class="footer-box__content--logo" 
    src="../assets/mf-logo2 white.svg" 
    alt="logo-white"
  >

  <p class="footer-box--text">Living,Learning & leveling up one day at a time.</p>
 
  <div class="footer-box__icons">
    <a 
      class="icons__twit"
      href="https://twitter.com/?lang=en" 
      role="button" target="_blank">
        <i class="fa fa-twitter"></i>
    </a>
    
    <a 
      class="icons__insta" 
      href="https://instagram.com/" 
      role="button" target="_blank">
        <i class="fa fa-instagram"></i>
    </a>
    
    <a 
      class="icons__twit" 
      href="https://linkedin.com/in/alin-torossian-225842232" 
      role="button" target="_blank">
        <i class="fa fa-linkedin"></i>
   </a>
    
    <a class="icons__git" 
      href="https://github.com/ALynn9" 
      role="button" target="_blank">
        <i class="fa fa-github"></i>
    </a>
  </div>

  <p class="footer-box--text">Handcrafted by me &copy twentytwentytwo </p>
</footer>
