<section class="my-recent-work">
  <h2>My Recent Work</h2>

  <p>Here are a few design projects I've worked on recently. Want to see more?
    <a class="my-recent-work__modify-three " href="#">Email me</a>
  </p>
  
  <ul class="my-work">
    <li class="li-tag"> 
      <img class="my-recent-work-img" src="../assets/wedlerengineering.png" alt="work4">
    </li>
    
    <li class="li-tag"> 
      <img class="my-recent-work-img" src="../assets/glcsolutions.png" alt="work5">
    </li>
    
    <li class="li-tag"> 
      <img class="my-recent-work-img" src="../assets/chronicled.png"alt="work6">
    </li>
  </ul>

  <ul class="my-work">
    <li class="li-tag"> 
      <img class="my-recent-work-img" src="../assets/glcsolutions.png" alt="work4">
    </li>

    <li class="li-tag"> 
      <img class="my-recent-work-img" src="../assets/coupal.png" alt="work5">
    </li>
    
    <li class="li-tag"> 
      <img class="my-recent-work-img" src="../assets/wedlerengineering.png"alt="work6">
    </li>
  </ul>
</section>
