* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

$pink: rgba(240, 131, 183, 0.911);
$skyblue: rgb(73, 141, 243);
$lightblue: rgb(153, 195, 255);
$insta: rgb(101, 89, 202);
$lightgray: rgb(214,213,213);
$gray: rgb(204, 204, 204);
$darkbrown: rgba(10,10,10,0.9);
$navyblue: rgb(14,14,51);
$black: rgb(0,0,0);
$white: rgb(255,255,255);
$purple: rgb(124,0,124);
$blue: rgb(8, 33, 255);
$fs-large: 1.75rem;
$fs-medium: 1.25rem;

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__image {
  max-width: 3rem;
}

.navbar__text {
  display: flex;
  list-style: none;
  align-items: center;
}

.text--first {
  text-decoration: none;
  color: $black;
  font-size: $fs-medium;
  padding-right: 2rem;
}

.navbar__text .text--second {
  text-decoration: none;
  color: $pink;
  border: 2px solid ;
  padding: 1rem;
  border-radius: 40px;
}


.text--second:hover {
  background-color: $pink;
  color: $white;
  transition: 1s;
  border: 2px solid $pink;
}

.title-sub {
  font-size: $fs-large;
  text-align: center;
  color: $darkbrown;
}

.title-sub__image {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  max-height: 300px;
  max-width: 300px;
}

.title-sub__image--setup {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
}

