<nav class="navbar">
  <img class="navbar__image" src="../assets/mf-logo2.svg" alt="logo">
  
  <div class="navbar__text">
    <div>
      <a class="text--first" href="#">Mentorship</a> 
    </div>
    
    <div>
      <a class="text--second" href="#">Say Hello</a>
    </div>
  </div>
</nav>
  
<div class="title-sub">
  <h1>Designer,Front-end developer & Student</h1>
   
  <p>I design and code beautifully simple things, and i love what i do </p>
    
  <img class="title-sub__image" src="../assets/my logo.svg" alt="logo">
    
  <img class="title-sub__image--setup" src="../assets/hero.svg" alt="me-logo">
</div>
