$pink: rgba(240, 131, 183, 0.911);
$skyblue: rgb(73, 141, 243);
$lightblue: rgb(153, 195, 255);
$insta: rgb(101, 89, 202);
$lightgray: rgb(214,213,213);
$gray: rgb(204, 204, 204);
$darkbrown: rgba(10,10,10,0.9);
$navyblue: rgb(14,14,51);
$black: rgb(0,0,0);
$white: rgb(255,255,255);
$purple: rgb(124,0,124);
$blue: rgb(8, 33, 255);
$fs-large: 1.75rem;
$fs-medium: 1.25rem;
