<app-intro></app-intro>

<section class="about-me">
  <h2>Hi,I'm Alynn.Nice to meet you</h2>
  
  <p class="about-me_modify">
    Since beginning my journey as a freelance designer nearly 10 years ago, I've done remote work for agencies, consulted
    for startups, and collaborated with talented people to create digital products for both business and consumer use. 
    I'm quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.
  </p>
  
  <div class="big__box">
    <ul class="big__box--container">
      <li class="big__box--boxes">
        <img class="modify-one" src="../assets/designer.svg" alt="designer">

        <h3>Designer</h3>

        <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>

        <p class="box__text--modify-two">Things I enjoy designing:</p>       

        <p>Web and Logos</p>
      </li>

      <li class="big__box--second-box">
        <img class="modify-one" src="../assets/frontend.svg" alt="frontend">

        <h3>Developer</h3>

        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>

        <p class="box__text--modify-two">Languages I speak:</p>

        <p>HTML,CSS,JS,C++,Java</p>
      </li>

      <li class="big__box--boxes">
        <img class="modify-one" src="../assets/hero2.svg" alt="designer">

        <h3>Student</h3>

        <p>I genuinely care about people,I love helping people, eager to learn new things.</p>

        <p class="box__text--modify-two">Education</p>

        <p>Majoring in Computer Science </p>
      </li>
    </ul>
  </div>
</section>  

<section class="my-recent-work">
  <h2>My Recent Work</h2>

  <p>Here are a few design projects I've worked on recently. Want to see more?
    <a class="my-recent-work__modify-three " href="#">Email me</a>
  </p>
  
  <ul class="my-work">
    <li class="li-tag"> 
      <img class="my-recent-work-img" src="../assets/wedlerengineering.png" alt="work4">
    </li>
    
    <li class="li-tag"> 
      <img class="my-recent-work-img" src="../assets/glcsolutions.png" alt="work5">
    </li>
    
    <li class="li-tag"> 
      <img class="my-recent-work-img" src="../assets/chronicled.png"alt="work6">
    </li>
  </ul>

  <ul class="my-work">
    <li class="li-tag"> 
      <img class="my-recent-work-img" src="../assets/glcsolutions.png" alt="work4">
    </li>

    <li class="li-tag"> 
      <img class="my-recent-work-img" src="../assets/coupal.png" alt="work5">
    </li>
    
    <li class="li-tag"> 
      <img class="my-recent-work-img" src="../assets/wedlerengineering.png"alt="work6">
    </li>
  </ul>
</section>

<section class="testimonials">    
  <h3 class="testimonials__title">People I've worked with have said some nice things...</h3>
    
  <div class = "testimonials__carousel">
    <div class="testimonials__slider"  *ngFor ="let testimonials of testimonialsArray; let i = index ">
      <div class="slider__content" [ngClass] = "{'active' : selectedIndex === i}">
          
        <img 
          class="testimonials__slider--content--image" 
          src ="{{testimonials.img}}" 
          alt="pic one"
        >
      
        <p class="testimonials__slider--content--quote">
         {{testimonials.content}}
        </p>
      
        <h3 class="testimonials__slider--content--author">{{testimonials.name}} </h3>
  
        <p class="testimonials__slider--content--author-info">{{testimonials.ncontent}}</p>
        
      </div>

    </div> 
    
    <div *ngIf="indicators" class="carousel-dot-container">
      <div class="dot" 
        *ngFor ="let dot of testimonialsArray; let i = index"
        [ngClass] = "{'selected': selectedIndex === i }"          
        (click) ="selectedDiv(i)"
      >
      </div>

    </div>

  </div>
</section>  

<section class="above-footer">
  <div class="above-footer--container">
    <h2 class="above-footer__content--one">Start a project</h2>

    <p class="above-footer__content--two">Interested in working together? We should queue up a chat. I’ll buy the coffee.</p>
    
    <h3 class="above-footer__content--three">Let's do this</h3>
  </div>   
</section>

<app-footer></app-footer>
